<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body  class="w-full h-screen bg-zinc-700">
    <h2 class="text-3xl font-bold ml-4 mt-5 text-white">Enter Your Details</h2>
    <div class="w-1/3 my-10 mx-10">
        <form class="mt-4" action="/create" method="post">
            <input class="px-4 py-2 mt-4 mr-2 rounded-md bg-zinc-900 text-white" type="text" name="username" placeholder="Enter Username">
            <input class="px-4 py-2 mt-4 mr-2 rounded-md bg-zinc-900 text-white" type="email" name="email" placeholder="Enter Email">
            <input class="px-4 py-2 mt-4 mr-2 rounded-md bg-zinc-900 text-white" type="password" name="password" placeholder="Enter Password">
            <input class="px-4 py-2 mt-4 mr-2 rounded-md bg-zinc-900 text-white" type="text" name="age" placeholder="Enter Age">
            <input class="px-4 py-2 mt-4 mr-2 rounded-md bg-blue-800 hover:bg-blue-700 text-white" type="submit" value="Create User">
        </form>

        <div class="mt-4">
            <p class="text-white">Already have an account <a class="text-blue-500 underline" href="/login">Login</a></p>
        </div>
    </div>
</body>
</html>